<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Logged Out</title>
</head>
<body>
  <p>You have been successfully logged out. Click here to <a href="/login">login</a> again.</p>
</body>
</html>